<footer class="footer-container">
    <ul class="legal-list">
        <li>Teleprecept Match &copy; 2022</li>
        <a href="">
            <li>Terms</li>
        </a>
        <a href="">
            <li>Privacy</li>
        </a>
    </ul>
    <ul class="social-list">
        <a href="">
            <li><img class="invert" src="img/svg/facebook.svg" alt="" /></li>
        </a>
        <a href="">
            <li><img class="invert" src="img/svg/twitter.svg" alt="" /></li>
        </a>
        <a href="">
            <li><img class="invert" src="img/svg/instagram.svg" alt="" /></li>
        </a>
        <a href="">
            <li><img class="invert" src="img/svg/linkedin.svg" alt="" /></li>
        </a>
    </ul>
</footer>