<header class="header">
    <a class="logo" href="/"><img class="invert" src="/img/svg/logo.svg" alt="" /></a>
    <ul>
        <a class="list-item" href="/"><li>Home</li></a>
        <a class="list-item" href="/users"><li>Feed</li></a>
        <a class="list-item" href="/chat"><li>Chat</li></a>
        <a class="list-item" href="/login"><li>Log in</li></a>
        <a class="list-item" href="/signup"><li>Sign up</li></a>
        <a class="list-item" href="/profile"
            ><li><img class="profile invert" src="img/svg/user.svg" alt="" /></li
        ></a>
    </ul>
    <button id="menu" onclick="toggleMobileNav()"><img class="menu logo invert" src="img/svg/menu-burger.svg" alt="" /></button>
</header>
<header id="toggle-mobile-nav" class="nav-header">
    <ul>
        <a href="home.html">
            <li><img class="nav-ico invert" src="img/svg/home.svg" alt="" />&nbsp;Home</li>
        </a>
        <a href="/profile">
            <li><img class="nav-ico invert" src="img/svg/user.svg" alt="" />&nbsp;Profile</li>
        </a>
        <a href="/users">
            <li><img class="nav-ico invert" src="img/svg/chart-tree.svg" alt="" />&nbsp;Feed</li>
        </a>
        <a href="/login">
            <li><img class="nav-ico invert" src="img/svg/angle-circle-right.svg" alt="" />&nbsp;Log in</li>
        </a>
        <a href="signup.html">
            <li><img class="nav-ico invert" src="img/svg/add.svg" alt="" />&nbsp;Sign up</li>
        </a>
    </ul>
</header>