body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 1.25rem;
	background-color: #f5f5f5;
	margin: 0;
}

/* Header */

.header {
	width: 100%;
	min-width: 100px;
	height: 5rem;
	background-color: #1a1a1d;
	color: white;
	display: flex;
	align-items: center;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1rem;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: right;
	padding-right: 5vw;
}

.header li {
	width: 5rem;
}

.header img {
	height: 1.75rem;
	width: 1.75rem;
}

.header .list-item {
	text-decoration: none;
	font-size: 1rem;
	height: 100%;
	color: #fff;
	transition: all 0.1s;
	display: flex;
	align-items: center;
}

.header .list-item:hover {
	background-color: #c3073f;
	border: 3px solid #f5f5f5;
}

.logo {
	min-width: 100px;
	display: flex;
	justify-content: center;
	padding-left: 5vw;
}

.header button {
	width: 10rem;
	display: none;
}

/* Reusable classes */

.invert {
	filter: invert(100%);
}

/* Mobile Navigation */

.nav-header {
	background-color: #242428;
	display: none;
}

.nav-header ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

.nav-header li {
	list-style: none;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
}

.nav-header li:hover {
	background-color: #c3073f;
}

.nav-header a {
	text-decoration: none;
	color: white;
}

.nav-ico {
	width: 1rem;
	height: 1rem;
}

@media screen and (max-width: 768px) {
	.header button {
		display: block;
		border: 0;
		background: #242428;
		height: 100%;
	}
	.logo {
		padding-left: 0;
	}
	.header li {
		display: none;
	}
}

/* Login Section */

.form-container {
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form-signin {
	max-width: 350px;
	text-align: center;
	width: 100%;
}

.form-control {
	border: 1px solid #ced4da;
	outline: 0;
	transition: all 0.1s;
}

.form-control:focus {
	border: 1px solid #c3073f;
	box-shadow: 0 0 0 5px #c3073f49;
}

.form-control,
.btn {
	height: 4rem;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 1.5rem;
	width: 100%;
}

.btn {
	background: #242428;
	border: 0;
	border-radius: 30px;
	color: #fff;
	cursor: pointer;
	outline: 0;
	transition: all 0.1s;
}

.btn:focus {
	background: #c3073f;
}

.form-group {
	margin: 1rem 0;
}

.muted {
	color: #6c757d;
}

/* Footer */

.footer-container {
	background: #1a1a1d;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3rem;
	display: flex;
	font-size: 0.9rem;
	letter-spacing: 0.01rem;
}

.footer-container ul {
	list-style: none;
	color: #fff;
	display: flex;
	align-items: center;
}

.footer-container li {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	margin: 0;
}

.footer-container img {
	height: 1.25rem;
	width: 1.25rem;
}

.footer-container a {
	text-decoration: none;
	color: #fff;
}

.legal-list {
	margin-left: 9vw;
}

.social-list {
	position: absolute;
	right: 0;
	margin-right: 15vw;
}

#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 2.5rem; /* Footer height */
}

.profiles-container {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 40px;
	margin: 30px;	
	margin-top: 0;
	padding-top: 0;
}
.profile-container {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	padding: 10px;
	min-width: 7em;
	max-width: 10em;
	height: 15em;
	margin: 10px;	
	border: 1px black solid; 	
}

.profile-name{
	margin: 5px
}

.profile-type {
	margin: 5px
}

.profile-type::first-letter {
	text-transform:capitalize;
}
.profile-image {
	object-fit: fill;
	border-radius: 10px;
	width:100%;
	height:100%;
}

.profile-image-container {
	margin-bottom: 10px;
	background-color:#c3073f;
	border-radius: 10px;
	width: 60%;
	height: 60%;
}

.connect-button {
	background: #242428;
	border: 0;
	width: 50%;
	border-radius: 15px;
	color: #fff;
	cursor: pointer;
	outline: 0;
	transition: all 0.1s;
	align-items: center;
	padding: 15px;	
	font-size: 15px;
	margin: 20px;
	align-self: center;
}

.heading {
	padding-left: 100px;
}

.connect-button:hover {
	background: #c3073f;
}

@media screen and (max-width: 768px) {
	.footer-container {
		height: 9rem;
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: center;
		gap: 20px;
	}
	.legal-list {
		margin: 0;
		padding: 0;
	}
	.social-list {
		position: relative;
		right: auto;
		margin: 0;
		padding: 0;
	}
	#content-wrap {
		padding-bottom: 9rem;
	}
}

@media screen and (max-width: 330px) {
	.footer-container {
		height: 12rem;
	}
	.legal-list {
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: center;
		gap: 20px;
	}
	#content-wrap {
		padding-bottom: 12rem;
	}
}
