<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/css/normalize.css" />
		<link rel="stylesheet" href="/css/milligram.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<script src="/js/menu-burger.js"></script>
		<script src="/js/index.js" defer></script>
	</head>
	<body>
		<div id="page-container">
			<div id="content-wrap">
				<!-- BEGIN HEADER -->
				<%- include('../partials/header') %>
				<!-- END HEADER -->

                <!-- BEGIN CHAT -->
                <div class="chat">
                    <div class="contact-container">
                        <div class="contact">
            
                        </div>
            
                        <div class="contact">
                        </div>
            
                        <div class="contact">
                        </div>
                        <div class="contact">
                        </div>
                        <div class="contact">
                        </div>
                        <div class="contact">
                        </div>
                        <div class="contact">
                        </div>
                        <div class="contact">
                        </div>
            
                    </div>
                  <div class="chat-window-container">
                    <div id="chat-window" class="chat-window">
                        <div class="message-in">
                          <p>This is a chat</p>
                        </div>
            
                        <div class="message-out">
                          <p>This is a chat</p>
                        </div>
            
                        <div class="message-in">
                          <p>This is a chat</p>
                        </div>
            
                        <div class="message-out">
                          <p>This is a chat</p>
                        </div>
            
                        <div class="message-in">
                          <p>This is a chat</p>
                        </div>
                        <div class="message-out">
                          <p>This is a chat</p>
                        </div>
            
                        <div class="message-in">
                          <p>This is a chat</p>
                        </div>
            
                        <div class="message-out">
                          <p>This is a chat</p>
                        </div>
            
                        <div class="message-in">
                          <p>This is a chat</p>
                        </div>
                        
                      </div>
                      <div class="chat-input">
      
                        <textarea id="message-input" placeholder="Input a message" name="message-input" rows="4" cols="40"></textarea>
                        <button id="sendButton" class="connect-button" style="width:150px">Send</button>
                    </div>
                    </div>  
                  </div>


				<!-- BEGIN FOOTER -->
			</div>
			<%- include('../partials/footer') %>
		</div>
	</body>
	<!-- END FOOTER -->
</html>
