<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/css/normalize.css" />
		<link rel="stylesheet" href="/css/milligram.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<script src="/js/menu-burger.js"></script>
	</head>
	<body>
		<div id="page-container">
			<div id="content-wrap">
				<!-- BEGIN HEADER -->
				<%- include('../partials/header') %>
				<!-- END HEADER -->

				<!-- BEGIN FOOTER -->
			</div>
			<%- include('../partials/footer') %>
		</div>
	</body>
	<!-- END FOOTER -->
</html>
